.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

html {
height: 100%;
}

body {
background-image: linear-gradient(to bottom right, #FFFFFF, #F4EBF4, #FFFFFF);
}
